table{
   margin-left: auto;
   margin-right: auto;
   margin-top:100px;
}
.table{
   margin-top:10px;
   border: 3px solid #1EB8EB;
   background-color:#0D5C77;
}
button{
   background-color:#1EB8EB;
   padding:10px 20px;
   margin:auto;
   border:none;
   margin-top: 20px;
   margin-left:20px;
}
.form{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh; 
   border: 3px solid #1EB8EB;
   background-color: #0D5C77;
}
th{
   background-color:#B4E2EE;
}
label{
   color:white;
}
td{
   background-color:#B0BCEE;
}
